.region-zd {
  .ant-row {
    margin-bottom: 5px;

    i {
      font-size: 18px;
      cursor: pointer;

      &.anticon-search {
        font-size: 20px;
      }

      &.icon-delete {
        margin-left: 10px;
      }
    }

    .more-tip {
      display: inline-block;
      margin-left: 5px;
      cursor: pointer;
    }
  }
}

.ant-popover.mark {
  .ant-popover-content {
    width: 280px;

    .ant-popover-message-title {
      padding-left: 0;
    }
  }
}
